@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.about {
	width: 100vw;
	height: 100vh auto;

	.about-me-block {
		margin: 0 auto;
		margin-top: 15em;
		width: 85%;
		height: 500px;
		background-color: white;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include screenxxs {
			margin: 0;
			margin-top: 10em;
			border-radius: 0;
			width: 100vw;
			height: auto;
			overflow: hidden;
			flex-direction: column;
			justify-content: center;
		}

		@include screenxs {
			margin: 0;
			margin-top: 10em;
			border-radius: 0;
			width: 100vw;
			height: auto;
			overflow: hidden;
			flex-direction: column;
			justify-content: center;
		}

		.about-me-text {
			width: 50%;

			@include screenxxs {
				padding-left: 2em;
				padding-right: 2em;
				width: 100%;
				text-align: center;
			}

			@include screenxs {
				padding-left: 2em;
				padding-right: 2em;
				width: 100%;
				text-align: center;
			}

			h3 {
				font-weight: 900;
			}
			p {
				width: 80%;
				@include screenxxs {
					width: 100%;
					text-align: center;
				}

				@include screenxs {
					width: 100%;
					text-align: center;
				}
			}

			.about-text-buttons {
				margin-top: 4em;

				@include screenxxs {
					margin-top: 2em;
				}

				@include screenxs {
					margin-top: 2em;
				}

				button {
					margin-right: 2em;

					@include screenxxs {
						margin: 1em 1em;
					}

					@include screenxs {
						margin: 1em 1em;
					}
				}
			}
		}

		.about-profile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@include screenxxs {
				margin: 1em auto;
			}

			@include screenxs {
				margin: 1em auto;
			}

			.about-image {
				width: 200px;
				height: 200px;
				background-color: red;
				border-radius: 50%;
			}
			.about-links {
				margin-top: 2em;
				display: flex;

				align-items: center;

				div {
					width: 50px;
					height: 50px;
					background-color: red;
					margin: 0 1em;
				}
			}
		}
	}
}
