@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.arrow {
	position: absolute;
	left: 0;
	margin: 3em;
	top: 60%;

	@include screenxxs {
		top: 70%;
		left: -30px;
	}

	.arrow-down {
		height: 200%;
	}

	span {
		display: block;
		position: relative;
		transform: rotate(-90deg) translateY(-35px) translateX(180px);
		color: white;
		transition: all 0.3s ease-in-out;
	}
}
