@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.case-card {
	width: 600px;
	height: 600px;
	border-radius: 35px;
	flex-shrink: 0;
	margin: 0 2em;
	display: flex;
	justify-content: end;
	flex-direction: column;

	@include screenxs {
		width: 375px;
		margin: 0 2em;
	}

	@include screenxxs {
		width: 320px;
		height: 650px;
		margin: 0 2em;
	}

	.case-card-footer {
		background-color: rgb(110, 110, 110);
		border-radius: inherit;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		box-sizing: border-box;
		padding-left: 2em;
		padding-right: 2em;
		height: 40%;
		color: white;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.979) 0%,
			rgba(212, 212, 212, 0) 100%
		);
	}
}
