// breakpoints variables
$screenxxs: 480px;
$screenxs: 768px;
$screens: 1024px;
$screenm: 1200px;
$screenl: 2000px;
$screenxl: 1200px;

// Mixins
@mixin screenxxs {
	@media (max-width: #{$screenxxs}) {
		@content;
	}
}

@mixin screenxs {
	@media (max-width: #{$screenxs}) {
		@content;
	}
}

@mixin screens {
	@media (max-width: #{$screens}) {
		@content;
	}
}

@mixin screenxs {
	@media (max-width: #{$screenxs}) {
		@content;
	}
}

@mixin screenm {
	@media (max-width: #{$screenm}) {
		@content;
	}
}

@mixin screenl {
	@media (max-width: #{$screenl}) {
		@content;
	}
}

@mixin screenxl {
	@media (max-width: #{$screenxl}) {
		@content;
	}
}
