@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.service {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: white;

	img {
		margin: 2em;
		width: 60px;
		height: 60px;
	}

	div {
		width: 50%;
	}

	@include screenxxs {
		width: 95%;
	}
}
