@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.services {
	margin-top: 10em;
	width: 100vw;
	height: 100vh auto;

	h1 {
		text-align: center;
		color: white;

		@include screenxxs {
			text-align: center;
		}

		@include screenxs {
			text-align: center;
		}

		@include screens {
			text-align: center;
		}
	}

	.services-block {
		width: 100vw;
		margin: 0 auto;
		margin-top: 5em;
		display: flex;
		justify-content: center;
		align-items: center;

		@include screens {
			align-items: center;
			flex-direction: column-reverse;
		}

		.images {
			@include screenxxs {
				display: none;
			}

			@include screenxs {
				display: none;
			}

			@include screens {
				margin: 0 auto;
			}

			.services-image {
				margin: 0 8em;
				width: 80%;

				@include screens {
					width: 400px;
					height: 600px;
					margin-top: 5em;
					object-fit: cover;
					border-radius: 50px;
				}
			}
		}

		.services-text-block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			@include screenxxs {
			}

			button {
				margin-top: 2em;
				align-self: center;
			}
		}
	}
}
