@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.services {
	margin-top: 10em;
	width: 100vw;
	height: 100vh auto;

	h1 {
		text-align: center;
		color: white;
	}

	.services-block {
		margin: 0 auto;
		margin-top: 5em;
		display: flex;
		justify-content: center;
		align-items: center;

		.images {
			.services-image {
				height: 900px;
			}
		}
	}
}
