@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.services {
	margin-top: 10em;
	width: 100vw;
	height: 100vh auto;

	h1 {
		text-align: center;
		color: white;

		@include screenxxs {
			text-align: center;
		}

		@include screenxs {
			text-align: center;
		}

		@include screens {
			text-align: center;
		}
	}

	.services-block {
		width: 100vw;
		margin: 0 auto;
		margin-top: 5em;
		display: flex;
		justify-content: center;
		align-items: center;

		@include screens {
			align-items: center;
			flex-direction: column-reverse;
		}

		.images {
			background: url("../../media/palm-tree.webp");
			width: 50%;
			margin: 5em;
			height: 700px;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transition: all 0.8s ease-in;
			border-radius: 25px;

			// background-color: red;
			@include screenxxs {
				display: none;
				margin: 5em;
			}

			@include screenxs {
				display: none;
				margin: 5em;
			}

			@include screens {
				margin: 0 auto;
				margin: 5em;
			}
		}

		.services-text-block {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			@include screenxxs {
				width: 100%;
			}

			@include screenxs {
				width: 100%;
			}

			@include screens {
				width: 100%;
			}
		}
	}
}
