@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Italic */
@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-BlackItalic.otf") format("opentype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-BoldItalic.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-MediumItalic.otf") format("opentype");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Italic.otff") format("opentype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-LightItalic.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: black;
	font-family: "Satoshi", "sans-serif";
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

.animated-gradient {
	background: linear-gradient(-45deg, #ffbcf5, #6e97e3, #c33b3b, #c33b3b);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% {
		background-position: 0px 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0px 50%;
	}
}
