@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.reviews {
	position: relative;
	margin-top: 8em;
	color: white;

	@include screenxxs {
		margin-top: 5em;
	}

	@include screenxs {
		margin-top: 5em;
	}

	@include screens {
		margin-top: 5em;
	}

	.reviews-heading {
		text-align: center;

		h1 {
		}
		span {
			font-size: 20px;
		}
	}

	.reviews-cards {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include screenxxs {
			flex-direction: column;
			justify-content: center;
		}

		@include screenxs {
			flex-direction: column;
			justify-content: center;
		}

		@include screens {
			flex-direction: column;
			justify-content: center;
		}

		.review-card {
			margin-top: 5em;
			width: 350px;
			height: 500px;
			border-radius: 50px;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			@include screenxxs {
				width: 85%;
				margin-top: 3em;
			}

			@include screenm {
				padding-bottom: 1em;
				width: 300px;
				height: 450px;
				margin-top: 2em;
				flex-wrap: nowrap;
			}

			.picture {
				height: 150px;
				width: 150px;
				border-radius: 50%;
				background-color: Red;

				@include screenm {
					margin-top: 1em;
					height: 120px;
					width: 120px;
					object-fit: cover;
				}
			}

			p {
				text-align: center;
				width: 80%;

				@include screenm {
					width: 100%;

					padding-left: 1em;
					padding-right: 1em;
				}
			}

			span {
				font-weight: 900;
				font-size: 18px;

				&:nth-child(3) {
					margin-top: 6em;
				}
			}
		}

		.orange {
			background: linear-gradient(142deg, #ffbd27 0%, #e35a84 100%);
		}

		.blue {
			background: linear-gradient(142deg, #9ed195 0%, #004eff 100%);
		}

		.green {
			background: linear-gradient(142deg, #84ccbe 0%, #298014 100%);
		}
	}

	.background-letters {
		top: 0;
		position: absolute;
		z-index: -1;

		@include screenxxs {
			top: 20%;
		}

		@include screenxs {
			top: 30%;
		}

		@include screens {
			top: 30%;
		}

		.background {
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
			margin: 0;
			opacity: 15%;
			font-size: 200px;

			&:nth-child(1) {
				text-align: center;
			}

			&:nth-child(2) {
				text-align: right;
			}

			&:nth-child(3) {
				text-align: left;
			}
		}
	}
}
