@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.landing {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;

	.landing-background-image {
		position: absolute;
		overflow: hidden;
		right: -2%;
		top: -5%;
		transition: transform 0.5s ease;
		border-bottom-left-radius: 50px;

		height: 80%;

		@include screenm {
			position: absolute;
			height: 100vh;
			top: 0;
			left: 0;
			width: 100vw;
			right: 0;

			border-radius: 0px;
		}

		@include screenxxs {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			width: 100vw;
			border-radius: 0px;
		}

		@include screenxs {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			width: 100vw;
			border-radius: 0px;
		}

		@include screens {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			width: 100vw;
			border-radius: 0px;
		}
	}

	.landing-garage-image {
		object-fit: cover;
		position: absolute;
		height: 80%;
		top: 25%;
		transition: transform 0.5s ease;
		left: 10%;
		border-radius: 60px;

		@include screenm {
			display: none;
			border-radius: 0px;
		}

		@include screenxxs {
			display: none;
			border-radius: 0px;
		}

		@include screenxs {
			display: none;
			border-radius: 0px;
		}

		@include screens {
			display: none;
			border-radius: 0px;
		}
	}

	.landing-heading {
		z-index: 2;
		margin-top: 5em;
		margin-left: 28em;

		@include screenxxs {
			margin: 0 auto;
			text-align: center;
		}

		@include screenxs {
			margin: 0 auto;
			text-align: center;
		}

		@include screens {
			margin: 0 auto;
			text-align: center;
		}

		@include screenm {
			margin: 0 auto;
			text-align: center;
		}

		h1 {
			margin-bottom: 0;
			color: #9ed195;
			font-weight: 800;
			font-size: $title;

			@include screenxxs {
				color: white;
				font-size: 30px;
				text-align: center;
			}

			@include screenxs {
				color: white;
			}

			@include screens {
				color: white;
			}

			@include screenm {
				color: white;
			}
		}

		p {
			color: white;
			font-weight: 800;
			font-size: $subheading;
			width: 60%;

			@include screenxxs {
				width: 100%;
				text-align: center;
			}

			@include screenxs {
				width: 100%;
			}

			@include screens {
				width: 100%;
			}

			@include screenm {
				width: 100%;
			}
		}
	}
}
