@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.based-in {
	color: white;
	margin-top: 15em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	margin-left: 5em;
	margin-right: 5em;

	@include screenl {
		color: white;
		margin-top: 15em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		margin-left: 5em;
		margin-right: 5em;
	}

	@include screenm {
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
	}

	@include screenxxs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10em;
	}

	@include screenxs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10em;
	}

	@include screens {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10em;
	}

	.san-francisco-picture {
		margin-right: 3em;
		img {
			min-height: auto;
			height: 100%;
			height: 800px;

			@include screenl {
				min-height: auto;
				height: 100%;
				height: 800px;
			}

			@include screenxxs {
				display: block;
				height: 350px;

				object-fit: contain;
			}

			@include screenxs {
				display: block;
				height: 350px;

				object-fit: contain;
			}

			@include screens {
				display: block;
				height: 450px;
				object-fit: contain;
			}

			@include screenm {
				height: 80%;
				justify-self: center;
			}
		}
	}
	.rotterdam-picture-with-text {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;

		@include screenl {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
		}

		@include screenm {
			align-items: baseline;
			justify-content: flex-start;
		}

		@include screenxxs {
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
		}

		@include screenxs {
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
		}

		@include screens {
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
			margin-top: 2em;
		}

		div {
			margin-bottom: 8em;
			width: 100%;

			@include screenl {
				margin-bottom: 8em;
				width: 100%;
			}

			@include screenxxs {
				margin-top: 1em;
				text-align: center;
				width: 100%;
			}

			@include screenxs {
				margin-top: 1em;
				text-align: center;
				width: 100%;
			}

			@include screens {
				margin-top: 3em;
				text-align: center;
				width: 100%;
			}

			span {
				font-size: 18px;
			}

			h1 {
				margin: 0;
				font-size: 80px;

				@include screenxxs {
					text-align: center;
					font-size: 50px;
				}

				@include screenxs {
					text-align: center;
					font-size: 50px;
				}

				@include screens {
					text-align: center;
					font-size: 50px;
				}

				@include screenm {
					font-size: 60px;
				}
			}
		}
		img {
			width: 100%;

			@include screenxxs {
				display: block;
				height: 350px;
				object-fit: contain;
			}

			@include screenxs {
				display: block;
				height: 350px;
				object-fit: contain;
			}
			@include screens {
				display: block;
				height: 350px;
				object-fit: contain;
			}
		}
	}
}
