@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.based-in {
	color: white;
	margin-top: 15em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	margin-left: 5em;
	margin-right: 5em;

	@include screenxxs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10em;
	}

	@include screenxs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10em;
	}

	.san-francisco-picture {
		img {
			height: 100%;

			@include screenxxs {
				display: block;
				height: 350px;

				object-fit: contain;
			}

			@include screenxs {
				display: block;
				height: 350px;

				object-fit: contain;
			}
		}
	}
	.rotterdam-picture-with-text {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;

		@include screenxxs {
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
		}

		@include screenxs {
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
		}

		div {
			margin-bottom: 8em;

			@include screenxxs {
				margin-top: 1em;
				text-align: center;
				width: 100%;
			}

			@include screenxs {
				margin-top: 1em;
				text-align: center;
				width: 100%;
			}

			span {
				font-size: 18px;
			}

			h1 {
				margin: 0;
				font-size: 80px;

				@include screenxxs {
					text-align: center;
					font-size: 50px;
				}

				@include screenxs {
					text-align: center;
					font-size: 50px;
				}
			}
		}
		img {
			width: 100%;

			@include screenxxs {
				display: block;
				height: 350px;
				object-fit: contain;
			}

			@include screenxs {
				display: block;
				height: 350px;
				object-fit: contain;
			}
		}
	}
}
