@import "../../styles/breakpoints.scss";

.false {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	@include screenxs {
		display: none;
	}

	@include screenxxs {
		display: none;
	}

	@include screens {
		display: none;
	}
}

.hovered {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
	height: 56px;
	background: none;
	border: 4px solid white;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	@include screenxs {
		display: none;
	}

	@include screenxxs {
		display: none;
	}

	@include screens {
		display: none;
	}
}

.contrast {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(4, 4, 4, 0.61);
	border-radius: 100%;
	border: none;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	@include screenxs {
		display: none;
	}

	@include screenxxs {
		display: none;
	}

	@include screens {
		display: none;
	}
}

.hovered-contrast {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
	height: 56px;
	background: none;
	border: 4px solid rgb(0, 0, 0);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	@include screenxs {
		display: none;
	}

	@include screenxxs {
		display: none;
	}

	@include screens {
		display: none;
	}
}

// image cursors

.image-one {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	&::before {
		content: "";
		position: absolute;
		top: -700%;
		left: 50%;
		width: 200px;

		height: 150px;
		background: url("../../media/happy.gif");
		transition: all 0.1s ease;
		border-radius: 25px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.image-two {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	&::before {
		content: "";
		position: absolute;
		top: -700%;
		border-radius: 25px;
		left: 50%;
		width: 200px;
		height: 150px;
		background: url("../../media/3dblob.gif");
		transition: all 0.1s ease;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.image-three {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	&::before {
		content: "";
		position: absolute;
		top: -700%;
		left: 50%;
		width: 200px;
		height: 150px;
		background: url("../../media/rotterdam\,.gif");
		transition: all 0.1s ease;
		border-radius: 25px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.image-four {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 9999999;

	&::before {
		content: "";
		position: absolute;
		top: -700%;
		left: 50%;
		width: 200px;
		height: 150px;
		background: url("../../media/california.gif");
		transition: all 0.1s ease;

		border-radius: 25px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
