@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.extra {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.level-up-today {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		color: white;

		margin-top: 15em;
		width: 80%;
		height: 300px;
		border-radius: 50px;
		background: linear-gradient(142deg, #cbf5f0 0%, #ffbd27 100%);

		display: flex;
		// justify-content: center;
		padding: 0 6em;
		align-items: center;
		justify-content: space-between;

		@include screenxxs {
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
			height: auto;
			margin-top: 5em;
			width: 85%;
			padding: 2em 0;
		}

		.level-up-box {
			color: black;
			width: 50%;

			@include screenxxs {
				text-align: center;
				width: 100%;
				margin-bottom: 2em;
			}

			.level-up-text {
				p {
					@include screenxxs {
						width: 100%;
						padding: 0 1em;
					}
				}
			}

			button {
				margin-right: 2em;

				@include screenxxs {
					margin: 1rem 2em;
				}
			}
		}

		.level-up-image {
			right: 0;
			align-self: flex-end;
			width: 40%;
			height: 100%;
			background-color: red;

			@include screenxxs {
				bottom: 0;
				right: 50%;
				width: 100%;
				align-self: center;
				height: 100%;
			}
		}
	}
}
